<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="Definicoes gerais">
      <setting id="hide-porno" type="bool" label="Esconder menu porno" default="true"/>
   </category>
   <category label="Tipos de vista">
      <setting label="[B][COLOR green]Definições de vista:[/B][/COLOR]" type="lsep" />
      <setting id="menu-view" type="enum" label="Vista - Menus" values="Lista|Lista Grande|Miniatura" default="0"/>
      <setting id="movies-view" type="enum" label="Vista - Filmes" values="Lista|Lista Grande|Miniatura|Posters|Fanart|Media Info 1|Media Info 2|Media Info 3" default="6"/>
      <setting id="series-view" type="enum" label="Vista - Séries" values="Lista|Lista Grande|Miniatura|Posters|Fanart|Media Info 1|Media Info 2|Media Info 3" default="3"/>
   </category>
</settings>
